*{
    font-style: italic;
    color: #fff;
}


.header{
    text-align: center;
    padding-top: 30px;
    height: 1400px;
    width: 1400px;
    background-image: url(./images/login.jpg);
    background-size: cover;
    background-repeat: repeat;
    
    
    }

    input{
        width: 200px;
    }

    .btn{
        color: black;
    }